@using Microsoft.AspNetCore.Authentication
@using Olive.Security
@model ViewModel.LoginForm
    <div class="login-page">
        @(await Component.InvokeAsync<ManualLogin>(ViewBag.ManualLogin as ViewModel.ManualLogin))

        @(await Component.InvokeAsync<ManualLogin>())
        <form data-module="LoginForm" role="form" method="post" action="@Url.Current()" data-validation-style="tooltip" class="social-media-login">
            @Html.StartupActionsJson()
            <div class='google-login-wrapper'>
                <img name="Logo" src="/img/Geeks.png" alt="Logo" />
                <br />
                <img name="FitSuite" src="/img/fitsuite.png" alt="FitSuite" />
                <br />
                <br />
                <button type="submit" name="LoginByGoogle" class="btn-social btn-google btn btn-primary btn btn-primary" formaction='@Url.ActionWithQuery("LoginForm/LoginByGoogle")' default-button="true" formmethod='post'>
                    <i class="fas fa-user-lock"></i>
                    Login by Google
                </button>
            </div>
            <div class="form-body">
                <div class="form-group row">
                    <div class="group-control">
                        @Model.ErrorMessage.Raw()
                    </div>
                </div>
            </div>
        </form>
    </div>
